/*
    Created on : 22-oct-2018, 15:35:57
    Author     : iridum
*/

body { color: white; background-color: #333; }

.i-bg-dark { background-color: #222; }
.i-bg-body { background-color: #333; }
.i-bg-light { background-color: #444; }
.i-bg-light-1 { background-color: #555; }

.card { color: white; background-color: #333; }

.i-bg-light-skew-p {
    background: linear-gradient(
                 2deg,
                 transparent 10%,
                 #444 10%,
                 #444 90%,
                 transparent 90%);
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
}

.i-bg-light-skew-n {
    background: linear-gradient(
                 -2deg,
                 transparent 10%,
                 #444 10%,
                 #444 90%,
                 transparent 90%);
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.i-bg-i-100-r { background-size: contain; background-repeat: no-repeat; background-position: right; }
.i-bg-i-100-c { background-size: contain; background-repeat: no-repeat; background-position: center; }
.i-bg-i-example { background-image: url("../img/example.png"); }
