/* 
    Created on : 22-oct-2018, 15:35:57
    Author     : iridum
*/

body { background-color: #eee; }

.top-nav-collapse { background-color: #007bff; }

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-1 { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url("../img/header.png"); }

.img-tutorial {
    display: block;
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
}