body {
    transition: background-color 300ms linear;
}

.bg-darker {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.navbar {
    z-index: 1000;
}

.scroll-y {
    height: 392px;
    overflow-y: scroll;
}

#drag-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
}

#canvas {
    display: inline;
    border: 2px solid #767676;
    border-radius: 5px;
}

#canvas-container {
    width: 100%;
    text-align: center;
    flex: 1;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
